$bg_one: #1D3557;
$bg_two: #457B9D;

$font_one: #FFFFFF;
$font_two: #F1FAEE;
$font_three: #A8DADC;

$font_correct: #A8DADC;
$font_wrong: #E63946;

@mixin transition($property...) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
}

html {
    font-size: 14px;

    @media (max-width: 1199px) {
        font-size: 13px;
    }

    @media (max-width: 991px) {
        font-size: 12px;
    }

    @media (max-width: 767px) {
        font-size: 11px;
    }
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;

	background: $bg_one;

	color: $font_two;
    font-size: inherit;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.1rem;
    overflow-x: hidden;
}

.wrapper {
    padding: 4rem 0;
}

.row > div {
    margin-bottom: 2rem;

	/*
    &:last-child {
        margin-bottom: 0;
    }
    */
}

.input {
	&.radio, &.checkbox {
		label {
			display: inline-block;
		}

		input {
			display: inline-block;
		}
	}

	&.correct-input {
		label {
			color: $font_correct;
		}
	}
	&.wrong-input {
		label {
			color: $font_wrong;
		}

		.vase--status {
			color: $font_wrong;
		}
	}

	.asterisk {
		padding: 0.3rem;
	}

	.vase--status {
		display: block;
		padding: 0.5rem 0;
		font-weight: 300;

		will-change: color;
	}
	
	/*--*/
	
	&_button {
		text-align: right;
	}
}

label {
    display: block;
    margin-bottom: 0.5rem;

    text-transform: uppercase;
	font-weight: 300;

	will-change: color;
	@include transition(color ease-in-out 0.3s);
}

input {
    display: block;
    width: 100%;
    padding: 0.5rem 0;

	background: transparent;
    border: none;
    border-bottom: solid 2px #ddd;
    outline: none;

    //color: #000;
	letter-spacing: 0.1rem;

	will-change: border-color;
	@include transition(border-color ease-in-out 0.3s);

	&[type="tel"], [data-vase-field-type="phone"] {
		letter-spacing: 0.2em;
	}

	&[type="checkbox"] {
		width: auto;
	}

	&.correct-input {
		border-color: $font_correct;
	}
	&.wrong-input {
		border-color: $font_wrong;
	}
}

.button {
    max-width: 100%;

    padding: 1rem 2rem;

    background: $bg_two;
    border: none;
    outline: none;

    color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
    word-break: normal;
    text-decoration: none;
	letter-spacing: 0.1rem;
	cursor: pointer;

	will-change: background;
    @include transition(background ease-in-out 0.3s);

    &:hover, &:focus, &:active {
        background: lighten($bg_two, 10%);
		outline: none;

        text-decoration: none;
        color: #fff;
    }
}

form {
	max-width: 600px;
	margin: 0 auto;

	&.style {
		&-dark {
			.input_text, .input_tel, .input_textarea {
				position: relative;

				.cut-off-corner {
					position: relative;

					&::before {
						content: "";
						position: absolute;
						width: 0.5rem;
						height: 0.5rem;

						top: 0;
						left: 0;

						border: solid 0.5rem $bg_one;
						border-bottom-color: transparent;
						border-right-color: transparent;

						z-index: 1;
					}
				}

				label {
					//padding-left: 1rem;
				}

				input {
					padding: 0.8rem 1rem;
					border: none;
					background: darken($bg_one, 10%);
					//border-radius: 34px;

					will-change: background-color;
					@include transition(background-color ease-in-out 0.3s);

					&.correct-input {
						background-color: lighten($bg_one, 10%);
					}
					&.wrong-input {
						//background-color: darken($bg_one, 15%);
					}
				}
			}

			.button {
				//width: 8rem;
				//border-radius: 34px;

				/*
				will-change: width;
				@include transition(width ease-in-out 0.3s);

				&:hover, &:focus, &:active {
					width: 100%;
				}
				*/
			}
		}
	}
}